@import url('./fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  width: 100vw;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --vc-clr-secondary: #bfbfbf !important;
  --vc-clr-primary: #ffffff !important;
  --vc-pgn-width: 12px !important;
  --vc-pgn-height: 12px !important;
  --vc-pgn-border-radius: 16px !important;
  --vc-nav-width: 3rem !important;
  --vc-nav-height: 100% !important;
  --vc-nav-background: rgba(0, 0, 0, 0.5) !important;
}
.carousel__prev, .carousel__next{
  margin: 0 0!important;
}
@media only screen and (max-width: 640px) { 
  .carousel__pagination {
    display: none!important; /* Remove overlay for active slide */
  }  
}